body {
  padding-top: 50px;
  padding-bottom: 20px;
}
/* Set padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
  white-space: normal;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
  max-width: 280px;
}
.wallet {
  width: 70%;
}
.vmachine {
  padding: 0;
  width: 100%;
}
.nested-heading {
  padding: 5px 7px;
}
.money-indicator {
  font-size: 200%;
}
.coin {
  width: 40px;
  height: 40px;
  background: #FFD700;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  border: 3px solid #DAA520;
  display: table;
  text-align: center;
}
.disabled-list-group-item {
  pointer-events: none;
  cursor: default;
}
.disabled-list-group-item .coin {
  background: #AAAA88;
  border-color: #888888;
}
.disabled-list-group-item .coin-text {
  color: #888888;
}
.coin-text {
  font-weight: bold;
  font-size: 20px;
  color: #B8860B;
  display: table-cell;
  vertical-align: middle;
}
a.list-group-item {
  overflow: hidden;
  display: table;
  width: 100%;
}
a.list-group-item > div {
  display: table-cell;
  vertical-align: middle;
}
a.list-group-item > div:last-child {
  text-align: right;
}
.vm-button {
  margin: 5px;
  width: 250px;
}
.merchandise {
  font-weight: bold;
  float: left;
}
.price {
  float: right;
}
.reset-padding {
  padding: 0;
}
.deposit-box {
  min-width: 160px;
}
.refund-btn {
  float: right;
}
.goods-box {
  width: 500px;
}
/* Progress */
.list-ajax-loader {
  cursor: wait;
  background: #ffffff url('../images/indicator_small.gif') no-repeat center center;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
  filter: alpha(opacity=75);
  opacity: 0.75;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
}
.err-msg {
  color: red;
}
/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIlNpdGUubGVzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFTQTtFQUNJLGlCQUFBO0VBQ0Esb0JBQUE7OztBQUlKO0VBQ0ksa0JBQUE7RUFDQSxtQkFBQTs7Ozs7QUFNSixjQUNJO0VBQ0ksbUJBQUE7OztBQUtSO0FBQU87QUFBUTtFQUNYLGdCQUFBOztBQUdKO0VBQ0ksVUFBQTs7QUFHSjtFQUNJLFVBQUE7RUFDQSxXQUFBOztBQUdKO0VBQ0ksZ0JBQUE7O0FBR0o7RUFDSSxlQUFBOztBQUdKO0VBQ0ksV0FBQTtFQUNBLFlBQUE7RUFDQSxtQkFBQTtFQWxEQSx3QkFBQTtFQUNBLDJCQUFBO0VBQ0EsbUJBQUE7RUFvREEseUJBQUE7RUFDQSxjQUFBO0VBQ0Esa0JBQUE7O0FBR0o7RUFDSSxvQkFBQTtFQUNBLGVBQUE7O0FBRkoseUJBSUk7RUFDSSxtQkFBQTtFQUNBLHFCQUFBOztBQU5SLHlCQVNJO0VBQ0ksY0FBQTs7QUFJUjtFQUNJLGlCQUFBO0VBQ0EsZUFBQTtFQUNBLGNBQUE7RUFDQSxtQkFBQTtFQUNBLHNCQUFBOztBQUdKLENBQUM7RUFDRyxnQkFBQTtFQUNBLGNBQUE7RUFDQSxXQUFBOztBQUVBLENBTEgsZ0JBS0s7RUFDRSxtQkFBQTtFQUNBLHNCQUFBOztBQUdKLENBVkgsZ0JBVUssTUFBSztFQUNILGlCQUFBOztBQUlSO0VBQ0ksV0FBQTtFQUNBLFlBQUE7O0FBR0o7RUFDSSxpQkFBQTtFQUNBLFdBQUE7O0FBR0o7RUFDSSxZQUFBOztBQUdKO0VBQ0ksVUFBQTs7QUFHSjtFQUNJLGdCQUFBOztBQUdKO0VBQ0ksWUFBQTs7QUFHSjtFQUNJLFlBQUE7OztBQUlKO0VBQ0ksWUFBQTtFQUNBLHdCQUF3Qix3REFBeEI7RUFFQSxZQUFZLHFEQUFaO0VBQ0EseUJBQUE7RUFDQSxhQUFBO0VBRUEsa0JBQUE7RUFDQSxNQUFBO0VBQ0EsT0FBQTtFQUNBLFFBQUE7RUFDQSxTQUFBO0VBQ0EsY0FBQTs7QUFHSjtFQUNJLFVBQUEiLCJmaWxlIjoidW5kZWZpbmVkIn0= */